
<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-6">


            <p advanceCss [hover]="'orange'">
               1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ab!

            </p>
              <p advanceCss [hover]="'red'">
               2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ab!

            </p>
        </div>
        <div class="col-md-6">
            
            <div class="form-group">
                <label for="input">Input</label>
                <input lowerCase type="text" class="form-control" id="text" >
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="credit">Credit</label>
                <input appCredit type="text" name="credit" id="credit" class="form-control">
                <!-- <strong class="text-danger d-none">
                    Alphabets and special charecters not valid
                </strong> -->
            </div>
        </div>
    </div>
</div>